.notif{
    float: right;
    padding: 10px;
    text-transform: uppercase;
    font-size:1.5em;
    position:relative;
    animation: bounceAround 0.5s ease-in-out infinite;
}
.notif{
    color: crimson;
}

@keyframes bounceAround {
    0% {transform:translateX(0) ;}
    25% {transform:translateX(5px) ;}
    50%{transform:translateX(0)  ;}
    75%{transform:translateX(5px);}
    100%{transform: translateX(0) ;}
}